.header {
  padding-left: 27px;
  padding-bottom: 31px;
  border-bottom: 1px solid #545454b1;
  box-sizing: border-box;
  max-width: 320px;
  width: 100%;
}
@media screen and (min-width: 1280px) {
  .header {
    max-width: 880px;
    padding: 0 738px 41px 0;
  }
}
